<div class="panel panel-success">
  <div class="panel-heading">Ofertas</div>
  <table class="table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Vendedor</th>
      <th>Cantidad</th>
      <th>Precio unitario</th>
      <th>Fecha</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_ofertados.each do |producto_ofertado| %>
      <tr>
        <td><%= producto_ofertado.picture %></td>
        <td><%= producto_ofertado.usuario %></td>
        <td><%= producto_ofertado.producto_of_cantidad %></td>
        <td><%= producto_ofertado.producto_of_precio_unitario %></td>
        <td><%= producto_ofertado.producto_of_fecha_publicacion %></td>
        <td><%= link_to 'Show', producto_ofertado %></td>
        <td><%= link_to 'Edit', edit_producto_ofertado_path(producto_ofertado) %></td>
        <td><%= link_to 'Destroy', producto_ofertado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<br>

<%= link_to 'New Producto ofertado', new_producto_ofertado_path %>
