<!DOCTYPE html>
<html>
<head>
<title>Smarket</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Smarket</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <%= link_to "Home", store_index_path %>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productos<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Ofertas", producto_ofertados_path %>
                  </li>
                  <li>
                    <%= link_to "Necesidades", producto_necesitados_path %> 
                  </li>
                </ul>
              </li>
            <li>
              <%= link_to "Remates", remates_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Entrar" %>
              </li>
              <li>
                <%= link_to "Regístrate"%>
              </li>
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


<div class="container">

<div class="row-fluid">
<div class="span8">
<% if flash.notice %>
  <div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.alert %>
  </div>
<% end %>               
</div>
</div>

<div>
<%= yield %>

</div>

</body>
</html>